body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 90vh;
  }

  .header {
    width: 100%;
    background: #e3f2fd;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .header button {
    padding: 10px 15px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }

  .header button:hover {
    background-color: #1565c0;
  }

  .header .title {
    font-size: 36px;
    color: #1565c0;
    font-weight: 700;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  
  .container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: calc(100% - 60px);
    max-width: 800px;
    box-sizing: border-box;
  }

  .left {
    flex: 3;
    min-width: 250px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
  .right {
    flex: 3;
    min-width: 250px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .middle {
    flex: 3;
    min-width: 250px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
  }

  .title {
    font-size: 36px;
    color: #1565c0;
    text-align: center;
    font-weight: 700;
    margin: 0;
  }
  
  .actions {
    text-align: center;
  }

  .actions button {
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .actions button:hover {
    background-color: #0d47a1;
  }

  #current-accounts-list li {
    font-size: 14px; /* Adjust the size as needed */
    line-height: 1.2; /* Adjust spacing between lines */
    white-space: nowrap; /* Prevent wrapping to the next line */
    overflow: hidden; /* Prevent text from overflowing */
    text-overflow: ellipsis; /* Add '...' if text overflows */
  }

  #current-accounts-list {
    text-align: left; /* Aligns all text to the left */
  }

  #new-accounts-list li {
    font-size: 14px; /* Adjust the size as needed */
    line-height: 1.2; /* Adjust spacing between lines */
    white-space: nowrap; /* Prevent wrapping to the next line */
    overflow: hidden; /* Prevent text from overflowing */
    text-overflow: ellipsis; /* Add '...' if text overflows */
  }

  #new-accounts-list {
    text-align: left; /* Aligns all text to the left */
  }